In [1]:
import pandas as pd 
import numpy as np
from sklearn import linear_model

In [4]:
df = pd.read_csv('churn_data_before_processing.csv', index_col= 0)
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619.0,France,Female,42.0,2.0,0.00,1.0,1.0,1.0,101348.88,1
1,2,15647311,Hill,608.0,Spain,Female,41.0,1.0,83807.86,1.0,0.0,1.0,112542.58,0
2,3,15619304,Onio,502.0,France,Female,42.0,8.0,159660.80,3.0,1.0,0.0,113931.57,1
3,4,15701354,Boni,699.0,France,Female,39.0,1.0,0.00,2.0,0.0,NaN,93826.63,0
4,5,15737888,Mitchell,850.0,Spain,Female,43.0,2.0,125510.82,1.0,1.0,1.0,79084.10,0

In [23]:
Y = df['CreditScore'].dropna(how = 'any')
X = df[['Balance', 'EstimatedSalary']].dropna(how ='any')
Y

0       619.0
1       608.0
2       502.0
3       699.0
4       850.0
        ...
3612    635.0
4437    736.0
6549    620.0
4590    635.0
8       501.0
Name: CreditScore, Length: 10132, dtype: float64

In [24]:
regr = linear_model.LinearRegression()
regr.fit(X,Y)

ValueError: Found input variables with inconsistent numbers of samples: [9952, 10132]